:root {
  /*COLOR*/
  /*dark thee*/
  --dark-primary: #FBFBFB; 
  --dark-history: rgba(251, 251, 251, 0.5);
  --dark-display: linear-gradient(167.43deg, #212224 0%, #252628 22.56%, #000309 98.49%);;
  --dark-actions: linear-gradient(244.38deg, #42869B 8.14%, #2A7DA1 27.9%, #1C437D 56.94%, #172852 84.11%);;
  --dark-bg-elem: rgba(5, 5, 5, 0.3);

  /*light theme*/
  --light-primary: #373737;
  --light-history: rgba(55, 55, 55, 0.5);
  --light-display: linear-gradient(166.34deg, #FEFEFE 0%, #F9F9F9 12.84%, #F3F3F3 32.53%, #E5E5E5 100%);
  --light-actions: linear-gradient(244.38deg, #9EE8FF 8.14%, #5ACEFF 27.9%, #79AFFF 56.94%, #2D5FDE 84.11%);;
  --light-bg-elem: rgba(255, 255, 255, 0.3);

  /*button size*/
  --size: 70px;
  --size-svg: 30px;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a:active,
a:focus {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: -webkit-linear-gradient(90deg, #fefefe,#79afff,#79afff,#79afff,#fefefe);/* Chrome 10-25, Safari 5.1-6 */                          
  background: linear-gradient(90deg, #fefefe,#79afff,#79afff,#79afff,#fefefe);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.calculator {
  width: 423px;
  border-radius: 40px;
  box-shadow: 8px 32px 64px rgb(0, 0, 0, 0.5);
  overflow: hidden;
  background: var(--light-display);
}

.calculator__display {
  position: relative;
  padding: 220px 34px; 
  padding-bottom: 23px;
  text-align: right;
}

.calculator__history {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: var(--light-history);
}

.calculator__total {
  font-size: 40px;
  line-height: 60px;
  color: var(--light-primary);
}

.calculator__reset {
  width: var(--size);
  height: var(--size);
}

.calculator__reset img {
  position: absolute;
  top: 272px;
  left: 34px;
  width: var(--size-svg);
  height: var(--size-svg);
}

.calculator__actions {
  font-size: 26px;
  line-height: 39px;
  color: var(--light-primary);
  background: var(--light-actions);
  border-radius: 30px;
  padding: 26px 32px;
  padding-bottom: 51px;
}

.calculator__row {
  display: flex;
  justify-content: space-between;
}

.calculator__row:not(:last-child) {
  margin-bottom: 20px;
}

.calculator__col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  background: var(--light-bg-elem);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}
.calculator__col:hover,
.calculator__col:active,
.calculator__col:focus {
  transform: scale(1.2);
}

.calculator__col img {
  width: var(--size-svg);
  height: var(--size-svg);
  color: var(--light-primary);
  pointer-events: none;
}

/*DARK-THEE*/
.dark-thee {
  background: -webkit-linear-gradient(90deg, #212224,#212224,#172852,#212224,#212224);/* Chrome 10-25, Safari 5.1-6 */                         
  background: linear-gradient(90deg, #212224,#212224,#172852,#212224,#212224);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.dark-thee .calculator {
  background: var(--dark-display);
}
.dark-thee .calculator__history {
  color: var(--dark-history);
}
.dark-thee .calculator__total {
  color: var(--dark-primary);
}
.dark-thee .calculator__actions {
  color: var(--dark-primary);
  background: var(--dark-actions);
}
.dark-thee .calculator__col {
  background: var(--dark-bg-elem);
}

